@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
@*<h3>@ViewData["Message"]</h3>*@
<hr style="border: 1px solid #f0b310; margin-right:34px">

<address>
    Kent State Student Center<br />
    1075 Risman Dr<br />
    Kent, OH 44242<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="flashPointsTeam@gmail.com">flashPointsTeam@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="flashPointsTeam@gmail.com">flashPointsTeam@gmail.com</a>
</address>
