@{
    ViewData["Title"] = "Home Page";
}

@if (ViewBag.isAdmin == "true")
{
    <br />
    <h2>Administrator Console</h2>
    @*<p>Select from Administrator options</p>*@
    <a asp-controller="Events" asp-action="AdminEvent">Add Event to Calendar</a>
    <br />
    <a asp-controller="Events" asp-action="StudentEvents">Approve Student Event Requests</a>
    <br />
    <a asp-controller="Users" asp-action="Index">Manage Users</a>
    <br />
    <a asp-controller="Prizes" asp-action="ManagePrizes">Manage Prize Catalog</a>
}
