@{
    ViewData["Title"] = "Access Denied";
}

<h2 style="color:red">Access Denied (Student User)</h2>
<p>Only Administrators are authorized to access this part of the application. Please click the Back button in your browser.</p>